<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Frontend</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">My blockchain</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Wallet Generator
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/make/transaction">Make Transaction</a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Check Transactions</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <h5 class="card-title">Send Coins</h5>
            <p class="card-text">Enter transaction details and click on "Generate Transaction" button to generate your transaction</p>
          </div>

        </div>
      </div>
    </div>

    <br>



    <div class="container alert alert-secondary">
    <form id="transaction_form">

        <div class="row">
          <label class="col-sm-2">Sender Address:</label>
          <div class="col-sm-10">
            <input type="text" name="sender_address" rows="2" class="form-control">

          </div>
        </div>

        <br>
        
        <div class="row">
          <label class="col-sm-2">Sender Private Key:</label>
          <div class="col-sm-10">
            <input type="text" name="sender_private_key" rows="2" class="form-control">
          </div>
        </div>

        <br>
        
        <div class="row">
          <label class="col-sm-2">Recipient Address:</label>
          <div class="col-sm-10">
            <input type="text" name="recipient_address" rows="2" class="form-control">
          </div>
        </div>

        <br>
        
        <div class="row">
          <label class="col-sm-2">Amount to Send:</label>
          <div class="col-sm-10">
            <input type="text" name="amount" rows="2" class="form-control">
          </div>
        </div>

        <br>
        
        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="button" id="generate_transaction" class="btn btn-primary btn-lg" value="Generate Transaction">
          </div>
        </div>

        <br>

    </form>
    </div>



    <div class="container">

        <div class="row" id="warning" style="display:none">
          <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
              IMPORTANT
              <ul>
                <li>Save you private and public keys. These keys cannot be recovered!</li>
                <li>Don't share your private key with anyone!</li>
              </ul> 
            </div>
          </div>
        </div>

    </div>






    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script>

      $(function () {
          $("#generate_transaction").click(function () {

            $.ajax({
              url: "/generate/transaction",
              type: "POST",
              dataType : 'json',
              data: $('#transaction_form').serialize(),
              success: function(response){
                console.log("Successful Transaction");

              },
              error: function(error){
                console.log(error);
              }
            });


            
          });
      });




    </script>




  </body>

</html>
